LOGLEVEL=debug

# POSTGRES CONFIG
PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=wavlake-local
PG_USER=wavlake
PG_PASSWORD=wavlake

# For use with Prisma's DB pull tool only
DATABASE_URL="postgres://${PG_USER}:${PG_PASSWORD}@${PG_HOST}:${PG_PORT}/${PG_DATABASE}?schema=public"

SENTRY_DSN=https:/sentry.io/123
SENTRY_TRACES_SAMPLE_RATE=0.0

# NOSTR
WALLET_SERVICE_SECRET=xxxx
WAVLAKE_RELAY=ws://localhost:8008