# /etc/systemd/system/indexer.service

[Unit]
Description=indexer

[Service]
Type=simple
ExecStart=node -r tsconfig-paths/register -r ts-node/register /home/michael/catalog/services/indexer/index.ts
WorkingDirectory=/home/michael/catalog/services/indexer
Restart=always
RestartSec=5

User=michael
Group=michael

# Environment variables:
Environment=NODE_ENV=production

# Allow many incoming connections
LimitNOFILE=infinity

# Allow core dumps for debugging
LimitCORE=infinity

StandardInput=null
StandardOutput=syslog
StandardError=syslog
Restart=always

# Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=indexer

[Install]
WantedBy=multi-user.target